/* Styles pour la div contenant le message d'erreur */
#titre404 {
    color: var(--couleur-rouge-clair);
}

#erreur_404 {
    display: flex;
    flex-direction: column; /* Change here to stack items vertically */
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 10%;
    background-color: var(--couleur-bleu-fonce); 
    color: var(--couleur-or-clair);
    border: 6px solid #FFFFFF;
    text-align: center;
}

/*Image temporaire*/
#erreur_404 img {
    margin-top: 1em; /* Add some spacing between text and image */
}

/*Media query pour la version mobile responsive*/
@media screen and (max-width:1000px) {
    #erreur_404 img {
        display: block; /* Ensure image is displayed on mobile */
    }

    #erreur_404 section {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #menu-piedpage {
        display: none;
    }

    #retourAccueil {
        margin: auto;
    }
}
