.ctnAnim {
  /*avant c'était #ctnAnim.... mais pour le javascript
  j'ai dû changer ça par une class*/
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeOut 4s 4s forwards;
  z-index: 10000;
}

/*pour faire l'effet background, jai crée un autre div, qui prend toute la place
vh et vw, derrière l'animation ctnAnim, pour aisni l'animer séparemment*/
.montrerArrierePlan {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 9000;
  animation: FadeOutArrierePlan 2s 4s forwards;
}

.titreH1,
.titreH2,
.titreH3 {
  font-family: "hwt-artz", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: whitesmoke;
  opacity: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
}

.titreH1 {
  font-size: clamp(50px, 10vw, 300px);
}
.titreH2 {
  font-size: clamp(80px, 12vw, 400px);
}
.titreH3 {
  font-size: clamp(50px, 15vw, 150px);
}

.anim1 {
  animation: fadeIn 2s forwards;
}
.anim2 {
  animation: fadeIn 2s 0.2s forwards;
}
.anim3 {
  animation: fadeIn 2s 0.4s forwards;
}
.anim4 {
  animation: fadeIn 2s 0.6s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  20% {
    opacity: 0;
  }
  to {
    opacity: 85%;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-1000px);
  }
}

/* Animation for faster background fade-out */
@keyframes FadeOutArrierePlan {
  from {
    background: #003d5b;
    opacity: 1;
    visibility: visible;
  }
  to {
    background-color: transparent;
    opacity: 0;
    visibility: hidden;
  }
}
