.wave-effect {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;

  gap: 0.6%;
  color: white;
  text-shadow: none; /* les spans ont un certain shadow, faeque */
}

.wave-effect span {
  //isplay: inline-block;
  transition: transform 0.3s ease;
}

.wave-effect:hover span {
  animation: wave 0.5s ease;
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.wave-effect:hover span:nth-child(1) {
  animation-delay: 0s;
}
.wave-effect:hover span:nth-child(2) {
  animation-delay: 0.05s;
}
.wave-effect:hover span:nth-child(3) {
  animation-delay: 0.1s;
}
.wave-effect:hover span:nth-child(4) {
  animation-delay: 0.15s;
} /* This is the empty space */
.wave-effect:hover span:nth-child(5) {
  animation-delay: 0.2s;
}
.wave-effect:hover span:nth-child(6) {
  animation-delay: 0.25s;
}
.wave-effect:hover span:nth-child(7) {
  animation-delay: 0.3s;
}
.wave-effect:hover span:nth-child(8) {
  animation-delay: 0.35s;
}
.wave-effect:hover span:nth-child(9) {
  animation-delay: 0.4s;
}
.wave-effect:hover span:nth-child(10) {
  animation-delay: 0.45s;
}
.wave-effect:hover span:nth-child(11) {
  animation-delay: 0.5s;
}
.wave-effect:hover span:nth-child(12) {
  animation-delay: 0.55s;
}
.wave-effect:hover span:nth-child(13) {
  animation-delay: 0.6s;
}
.wave-effect:hover span:nth-child(14) {
  animation-delay: 0.65s;
} /* Icon */

.espace {
  padding: 0 1%;
}

.dernierSpan {
  padding-left: 3%;
}
