@keyframes float {
  0% {
    //box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatex(0px);
  }
  50% {
    //box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatex(-20px);
  }
  100% {
    //  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatex(0px);
  }
}

#logo {
  //j'ai mis un margin au logo pour que ça soit décollé du bord.
  margin-right: 1%;
  width: 8rem;
  animation: float 6s ease-in-out infinite;
  animation-play-state: running;
  transition: transform 0.5s ease;
  z-index: 1000;
}

#logo:hover {
  animation-play-state: paused;
}

div#logo a {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 0.5s ease;
  //j'ai enlevé les positions pour rendre le tout adaptatif *Alejandro*
  //position: absolute;
  // right: 1.5rem;
  z-index: 4;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

div#logo a:hover {
  transform: scale(1.1);
}

/* Pour les tablettes */
@media only screen and (min-width: 768px) and (max-width: 1025px) {
  #logo {
    width: 9rem;
  }
}

/* Pour les ordinateurs de bureau */
@media only screen and (min-width: 1025px) {
  #logo {
    width: 10rem;
  }
}
