#nav-menu {
  // ceci est le composant qui contient le nav
  position: fixed;
  top: 0;
  left: -100%;
  width: 90%; // de son parent body
  height: 100%; // de son parent body
  background-color: #333;
  opacity: 0;
  z-index: 3;
  transition: left 0.5s ease, opacity 0.5s ease;
  background: #003d5b;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 0 10px 10px 0;
  // border: 1px solid rgba(255, 255, 255, 0.18);
}

#nav-menu.active {
  left: 0;
  opacity: 1;
}

/* Pour les ordinateurs de bureau */
@media only screen and (min-width: 1025px) {
  #nav-menu {
    width: 40%;
  }
}

// il n' y avait aucun css pour le nav, donc je viens de rajouter le tout pour le rendre adaptatif
nav {
  width: 100%; // de son parent #nav-menu
  height: 100%; // de son parent #nav-menu
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul {
  width: 80%; // de son parent nav et 80% pour decoller de la droite
  height: 70%; // de son parent nav... à 70%... si je mets plus haut que 80% le tout sera par dessous le burger...
  //padding-top: 4rem;
  position: relative;
  //slist-style: "🚪"; pas compris à quoi ceci sert. enlevé.
  //left: 3rem;
  // width: min-content; j'ai pas compris pk on a ça ici... mais si cette ligne existe je peux pas rendre ça adaptatif.
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 4%; // toujours travailler en pourcentage quand qu'on veut rendre le tout adaptatif.
  // border: 4px solid white;
  margin: 0;
  padding: 0;
}

header nav ul li {
  list-style: none; // j'enlève les esti de portes laides.
  //border: 1px solid yellow;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row; // pour mettre la typo et icones en row
  justify-content: flex-end; // jenvoie le tout complètement à droite
  gap: 3%;
}

header nav ul li a {
  text-decoration: none;
  text-shadow: 0px 0px 20px #000000;
  // border: 1px solid salmon;
}

header nav ul li img {
  // border: 1px solid white;
  height: 35px; /* Set a consistent height for all images */
  width: auto;
}

.fa-duotone.fa-ice-cream {
  --fa-primary-color: #ffd18f; /* Cone color */
  --fa-secondary-color: #ff92b1; /* Ice cream (pink) */

  --fa-secondary-opacity: 1;
}
