.footer-apropos {
  position: absolute; // pour pouvoir le cacher,svp eddy, on veut pas perdre des points.
  background-color: #003d5b;
  width: 100%;
  height: 30vh;
  bottom: calc(-265px - 5vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.7s ease-out;
  color: white;
  padding-bottom: 5%;
  padding-top: 5%;
  z-index: 5;
}

.footer-socials {
  position: absolute; // pour pouvoir le cacher,svp eddy, on veut pas perdre des points.
  background-color: #d1495d;
  width: 100%;
  height: 30vh;
  bottom: calc(-265px - 5vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.7s ease-out;
  color: white;
  padding-bottom: 5%;
  padding-top: 5%;
  z-index: 5;
  .sociaux,
  .equipe {
    //  padding: 1%; le footer fait déjà la job.
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    // border: 1px solid white;
  }
}

/* longlet est ici, dans lequel il y a l'icone oeil ouvert et 
a propos* lorsque le footer est fermé*/

.footer-apropos::after {
  content: "À PROPOS";
  position: absolute;
  font-family: "hwt-artz", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: clamp(1rem, 4.5vw + 0.4rem, 1.5rem);
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #003d5b;
  padding: 1rem 1rem 1rem 3.5rem;
  border-radius: 8px 8px 0 0; /* For tab effect */
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: background-color 0.3s ease;
}

.footer-apropos::before {
  content: "\f06e"; /* icone oeil unichose */
  font-family: "Font Awesome 6 Pro"; /* je transforme en font awesome */
  font-weight: 900;
  font-size: clamp(1rem, 4.5vw + 0.4rem, 1.5rem);
  color: white;
  position: absolute;
  z-index: 3;
  top: -35px;
  left: calc(50% - 63px); /* pour tricher */
  transition: opacity 0.3s ease, content 0.3s ease;
}

.footer-socials::after {
  content: "Suis-nous!";
  position: absolute;
  font-family: "hwt-artz", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: clamp(1rem, 4.5vw + 0.4rem, 1.5rem);
  top: -50px;
  left: 20%;
  transform: translateX(-50%);
  background-color: #d1495d;
  padding: 1rem 1rem 1rem 3.5rem;
  border-radius: 8px 8px 0 0; /* For tab effect */
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: background-color 0.3s ease;
}

.footer-socials::before {
  content: "\f06e"; /* icone oeil unichose */
  font-family: "Font Awesome 6 Pro"; /* je transforme en font awesome */
  font-weight: 900;
  font-size: clamp(1rem, 4.5vw + 0.4rem, 1.5rem);
  color: white;
  position: absolute;
  z-index: 3;
  top: -35px;
  left: calc(20% - 63px); /* pour tricher */
  transition: opacity 0.3s ease, content 0.3s ease;
}

/*******************************************************************************************/
/************************ ici je vais travailler sur le checkbox ***************************/
/*******************************************************************************************/

#checkAPropos,
#checkSocials {
  display: none;
}

/* ça me montre le footer quand qu'y est checked*/
#checkAPropos:checked + label footer.footer-apropos,
#checkSocials:checked + label footer.footer-socials {
  bottom: 0;
  box-shadow: 1px 1px 20px 10px rgba(0, 0, 0, 1);

  transition: all 0.7s ease-out;
}

#checkAPropos:not(:checked) + label footer.footer-apropos:hover,
#checkSocials:not(:checked) + label footer.footer-socials:hover {
  transform: translateY(-5px);
}

/* quand le footer est ouvert */
#checkAPropos:checked + label.footer-apropos::before {
  content: "\f070"; /* je ferme loeil */
  font-weight: 900;
  font-size: clamp(1rem, 4.5vw + 0.4rem, 1.5rem);
  position: absolute;
  z-index: 3; //sinon sa sort apres lautre
  //top: -14%;
  left: calc(50% - 63px);
  transition: opacity 0.3s ease, content 0.3s ease;
  top: -35px;
  color: #d1495d;
}

#checkSocials:checked + label.footer-socials::before {
  content: "\f070"; /* je ferme loeil */
  font-weight: 900;
  font-size: clamp(1rem, 4.5vw + 0.4rem, 1.5rem);
  position: absolute;
  z-index: 3; //sinon sa sort apres lautre
  //top: -14%;
  left: calc(20% - 63px);
  transition: opacity 0.3s ease, content 0.3s ease;
  top: -35px;
  //color: #d1495d;
}

/* pour garder la forme de longlet 
#checkFoot:checked + label footer::after {
  padding: 1rem 2rem 3rem 3.5rem;
}*/

footer p {
  font-family: "breakers-slab", sans-serif;
  // font-weight: 400;
  font-style: normal;
  font-size: clamp(0.75rem, 4vw + 0.25rem, 1rem);
}

footer a {
  //width: 60%;
  font-size: clamp(0.75rem, 4vw + 0.25rem, 1rem);
  cursor: pointer;
  font-family: "breakers-slab", sans-serif;
  // border: 1px solid red;
}

/*******************************************************************************************/
/************************************** les sociaux  ***************************************/
/*******************************************************************************************/
.sociaux ul {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 2%;
  width: 100%;
  //border: 1px solid red;
  //transform: rotate(-25deg) skew(25deg);
  transform-style: preserve-3d; // pour donner effet 3d genr
}

.sociaux ul li {
  position: relative;
  list-style: none;
  width: 40px;
  height: 40px;
  margin: 20px 20px;
  //border: 1px solid red;
  // border: 1px solid red;
  // border: 1px solid white;
}

/***********************************************************************
**************************** effet sociaux *****************************
***********************************************************************/

.sociaux ul li span {
  /*le social media insta linkedin behance*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background: #2a2a2a;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  transition: 1.5s ease-out;
}

.sociaux ul li:hover span {
  transition: 0.3s;
  color: #fff;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
}

.sociaux ul li:hover span:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1;
}

.sociaux ul li:hover span:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: 0.8;
}

.sociaux ul li:hover span:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: 0.6;
}

.sociaux ul li:hover span:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: 0.4;
}

.sociaux ul li:hover span:nth-child(1) {
  transform: translate(0px, 0px);
  opacity: 0.2;
}

/* Customize colors for each icon */
.sociaux ul li:nth-child(1):hover span {
  /* Instagram */
  background: #ea6e96;
}

.sociaux ul li:nth-child(2):hover span {
  /* Behance */
  background: #0056ff;
}

.sociaux ul li:nth-child(3):hover span {
  /* LinkedIn */
  background: #0a66c2;
}

/*******************************************************************************************/
/******* ici je vais travailler sur la partie du footer qui contient tout sauf le titre ****/
/*******************************************************************************************/

.contenuFooter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
  // border: 1px solid orange;
}

/* je dois cacher le contenu du footer, car si la resolution est trop grande, on voit un peu le contenu et c'est horrible */
#checkAPropos:not(:checked) + label footer .contenuFooter,
#checkSocials:not(:checked) + label footer .contenuFooter {
  opacity: 0;
  //visibility: hidden;
  //  transition: opacity 0.5s ease, visibility 0s 0.5s;
}

/* seulement quand je click sur le footer, je vais afficher le contenu et je veux que ça réagise avec la transition de l'opacité que le h3 possède*/
#checkAPropos:checked + label footer .contenuFooter,
#checkSocials:checked + label footer .contenuFooter {
  opacity: 1;
  // visibility: visible;
  // transition: opacity 0.5s ease 0.75s, visibility 0s 0.5s;
}

/**********************************************************************/
/************************** Ajustement des resolutions *****************/
/**********************************************************************/

/************************** Pour les tablettes *****************/
@media only screen and (min-width: 768px) {
  footer {
    bottom: -41vh; /* Adjust for tablets */
  }

  .sociaux ul li {
    width: 60px;
    height: 60px;
  }
}

/************************** Pour les bureaux *****************/
@media only screen and (min-width: 1025px) {
  footer {
    bottom: -44vh; /* Adjust for tablets */
  }

  .sociaux ul li {
    width: 80px;
    height: 80px;
  }
}

/************************** Pour les plus grands *****************/
@media only screen and (min-width: 1350px) {
  footer {
    bottom: -47vh; /* Adjust for tablets */
  }
}

/************************** Pour les plus grands *****************/
@media only screen and (min-width: 1750px) {
  footer {
    bottom: -50vh; /* Adjust for tablets */
  }
}