header {
  //j'ai enlevé toutes les positions absolutes et tout rendu en flex pour que ça soit fluide.
  //border: 1px solid red;
  height: 10%; //en pourcentage et adaptatif
  width: 98%; //en pourcentage et adaptatif.. si je donne 100, le logo part vers la droite cher pas pk...
  display: flex; // le tout en flex
  align-items: center;
  justify-content: space-between;
  margin: 1%; // je décolle du bord de la page.
  position: absolute;
}
/* j'ai enlevé ceci... si on utilise les positions, ce n'est pas adaptatif.
  header section {
    position: relative;
    top: 0.5rem;
    left: 0.5rem;
  }*/
