main {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  height: 100vh;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #9797973f;
  }

  &::-webkit-scrollbar {
    width: 12px;
    background-color: #9797973f;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #202020;
  }
  & #titre {
    z-index: 2;
    top: 1rem;
    position: sticky;
    background: rgba(58, 58, 58, 0.479);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 0 0.5rem;
  }
}

@media only screen and (min-width: 1025px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-right: 2rem;
  }

  main #titre {
    position: static;
    margin-bottom: 1rem;
  }

  main .content-wrapper {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    width: 100%;
  }
}
