:root {
    --primaire: #00798C;
    --secondaire: #30638E;
    --tertiaire: #003D5B;
    --complementaire: #EDAE49;
    --accent: #D1495B;

    // Teintes de bleu-vert - couleur primaire
    --couleur-teal-clair: #006B7A;
    --couleur-teal-moyen: #005A67;
    --couleur-teal-fonce: #00474E;
    
    // Teintes de bleu - couleur secondaire
    --couleur-bleu-clair: #2A556F;
    --couleur-bleu-moyen: #244B60;
    --couleur-bleu-fonce: #1E3F52;
    
    // Teintes de marine - couleur tertiaire
    --couleur-marine-clair: #00304A;
    --couleur-marine-moyen: #00243A;
    --couleur-marine-fonce: #001B2D;
    
    // Teintes d'or - couleur complementaire
    --couleur-or-clair: #D89B3E;
    --couleur-or-moyen: #B88630;
    --couleur-or-fonce: #A27224;
    
    // Teintes de rouge - couleur d'accent
    --couleur-rouge-clair: #c93342;
    --couleur-rouge-moyen: #A03240;
    --couleur-rouge-fonce: #8C2A36;      
  }