h1,
h2,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// //Titre pour la page 404
// #titre404{
//   color: red;
// }

h1,
h2,
a,
h3 {
  font-family: "hwt-artz", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
}

img {
  -webkit-user-drag: none;
}
section#info h1,
section#info p {
  color: black;
}

h1 {
  color: white;
  font-size: clamp(1.5rem, 6vw + 0.5rem, 2.5rem); // rajout de police adaptative
}

h2,
a {
  font-size: clamp(1.25rem, 5vw + 0.5rem, 2rem); // rajout de police adaptative
}

a {
  text-decoration: none;
}

h3,
p {
  font-size: clamp(0.75rem, 4vw + 0.25rem, 1rem);
}

p {
  font-family: "breakers-slab", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header ul {
  font-size: 1.5rem;
  color: orange;
}

header ul li a {
  transition: color 0.3s ease;

  &:active {
    color: purple;
  }

  &:focus {
    color: purple;
  }

  &:hover {
    color: purple;
  }
}

/* Désactive le scroll sur la page principale */
.no-scroll {
  overflow: hidden;
}

/********************** AUTRES RESOLUTIONS ********************/

/* Pour les tablettes */
@media only screen and (min-width: 768px) and (max-width: 1025px) {
  header ul {
    font-size: 3rem;
  }

  h1 {
    font-size: clamp(1.75rem, 3vw + 1rem, 3.5rem);
  }

  h2,
  a {
    font-size: clamp(1.5rem, 2.5vw + 0.75rem, 3rem);
  }

  h3,
  p {
    font-size: clamp(0.75rem, 4vw + 0.25rem, 1rem);
  }
}

/* Pour les ordinateurs de bureau */
@media only screen and (min-width: 1025px) {
  header ul {
    font-size: 1.5rem;
  }

  h1 {
    font-size: clamp(2rem, 4vw + 1rem, 4rem);
  }

  h2,
  a {
    font-size: clamp(1.5rem, 3vw + 1rem, 3rem);
  }

  h3,
  p {
    font-size: clamp(1rem, 2vw + 0.5rem, 1.5rem);
  }
}
